.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}


.options{
    
    
    margin-left: 230px;
    width: 32.5rem;
    background-color: #c4e8f2;
    border-left: 3px black solid;
    line-height: 1.5;
    cursor: pointer;
    margin: 2px;
  }

.author{
    text-align: left;
    font-size: large;
    
    
}

.button{
    width: fit-content;
}